body{margin: 0;
padding: 0;background: hsl(212, 45%, 89%) ;}

.card{background: hsl(0, 0%, 100%);
width: 280px;
height: auto;padding: 15px;
box-sizing: border-box;border-radius: 15px;}

img{max-width: 100%;
  height: auto;
  padding-bottom: 0;
border-radius: 10px;}

.child {
  text-align: center;}

.child h4{font-size: 20px;
  padding-top: 0 px;
color:hsl(218, 44%, 22%) ;}

.child p{color:hsl(220, 15%, 55%);}
html,
body{display: flex;
  flex-direction: row;
justify-content: center;
align-items: center;
grid-template-columns: auto;height: 100%;}

 